<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=GBK" pageEncoding="GBK">
    <title>车辆管理</title>
    <script src="../../assets/bootstrap3/jquery.min.js"></script>
    <link href="../../assets/bootstrap3/bootstrap.min.css" rel="stylesheet">
    <script src="../../assets/bootstrap3/bootstrap.min.js"></script>
    <script src="../../assets/prior/js/WdatePicker.js"></script>
</head>

<body>
    <!-- 头部导航 -->
    $control.setTemplate("common/nav.vm")
    <!-- 头部导航 -->

<div class="container-fluid" style="padding-bottom: 50px;">
    <div class="row">
        <!-- 左侧导航 -->
        <div class="col-md-2">
            <ul id="main-nav" class="nav nav-tabs nav-stacked" style="" white-space:nowrap>
                <li>
                    <a id="liuliangbao-header" href="#liuliangbao" class="nav-header collapsed" data-toggle="collapse" style="background-color:#ddd;color: black;">
                        <i class="glyphicon glyphicon-stats"></i>
                        人事管理
                        <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul id="liuliangbao" class="nav nav-list collapse secondmenu" style="height: 0px;">
                        <li><a href="/liuliangbao/index.htm" style="color: black;">人员</a></li>
                        <li><a href="/liuliangbao/shopEffect.htm" style="color: black;">薪酬</a></li>
                        <li><a href="/liuliangbao/shopEffect.htm" style="color: black;">病事假</a></li>
                        <li><a href="/liuliangbao/effect.htm" style="color: black;">权限</a></li>
                    </ul>
                </li>
                <li>
                    <a id="fans-header" href="#fans" class="nav-header collapsed" data-toggle="collapse" style="background-color:#ddd;color: black;">
                        <i class="glyphicon glyphicon-heart"></i>
                        车辆管理
                        <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul id="fans" class="nav nav-list collapse secondmenu" style="height: 0px;">
                        <li><a href="/fans/actList.htm" style="color: black;">车辆录入</a></li>
                        <li><a href="/fans/newAct.htm" style="color: black;">车辆状态</a></li>
                        <li><a href="/fans/prizePond.htm" style="color: black;">加油记录</a></li>
                        <li><a href="/fans/editSeller.htm" style="color: black;">维修保养</a></li>
                    </ul>
                </li>
                <li>
                    <a id="checkin-header" href="#checkin" class="nav-header collapsed" data-toggle="collapse" style="background-color:#ddd;color: black;">
                        <i class="glyphicon glyphicon-pencil"></i>
                        数据分析
                        <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul id="checkin" class="nav nav-list collapse secondmenu" style="height: 0px;">
                        <li><a href="/checkin/checkin.htm" style="color: black;">车辆分析</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- 左侧导航 -->
        <!-- 右侧内容-->
        <div class="col-md-10">
            $screen_placeholder
        </div>
        <!-- 右侧内容-->
    </div>
</div>

    <!-- 底部导航 -->
    $control.setTemplate("common/footer.vm")
    <!-- 底部导航-->
</body>
</html>