<div id="errorMsg" style="text-align: center;font-family:  'Helvetica Neue',Helvetica,Arial,sans-serif;color: red;"></div>
<div>
    <div class="form-inline">
        <div class="form-group">
            <label>用户</label>
            <input id="seller" name="seller" type="text" class="input-medium" placeholder="用户" value="$!seller" >
        </div>
        <span>
            <button id="J_search" class="btn btn-danger">查询</button>
        </span>
        <span>
            <button id="J_search" class="btn">新增</button>
        </span>
    </div>

    <form action="" method="post" enctype="multipart/form-data">
        上传文件2：<input type="file" name="file"><br/>
        <input type="hidden" name="action" value="UpAction"/>
        <input id="J_submit" type="submit" name="event_submit_doUp" value="提交"/>
    </form>
</div>

<script>
    $(function () {
    });
</script>